body {
    margin: 0;
    padding: 30px;
    font-family: Arial, sans-serif;
    background: #111827;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

h1 {
    margin: 0;
}

button {
    border: 0;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.welcome {
    margin-bottom: 25px;
}

.welcome p {
    color: #aaa;
}

.games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.game-card {
    background: #1f2937;
    padding: 25px;
    border-radius: 12px;
}

.game-card p {
    color: #aaa;
}

.favorite {
    background: #374151;
    color: white;
}

.auth-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 300px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  color: black;
}

.auth-container input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-container button {
  width: 95%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hidden {
  display: none !important;
}
